<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue.js App</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="app">
    <!-- <div class="chapter1">
      <h1>CHAPTER 1</h1>
      <h2>テキストのバインディング</h2>
      <p>{{ title }}</p>
  
      <h2>繰り返しの描画</h2>
      <ol>
        <li v-for="item in list">{{ item }}</li>
      </ol>
  
      <h2>イベントの利用</h2>
      <button v-on:click="handleClick">Click</button>
      <br>
  
      <input v-model="message">
      <p>{{ message }}</p>
  
      <button v-on:click="show=!show">切り替え</button>
      <p v-if="show">Hello Vue.js!</p>
    </div> -->

    <div class="chapter2">
      <h2>CHAPTER2</h2>
      <!-- <p>{{ message.value }}</p>
      <p>{{ message.value.length }}</p>
      <p>{{ list[2] }}</p>
      <p>{{ list[num] }}</p>
      <p>{{ 1 + 5  }}</p> -->
      <!-- <p>{{ let foo = message  }}</p> --><!-- エラー-->
      <!-- <input type="text" v-bind:value="message.value">
      <input type="text" :value="message.value"> -->
      <!-- DOMのtextContentプロパティにバインド -->
      <!-- <div v-bind:text-content.prop="message"></div> -->

      <div class="section8">
        <h3>SECTION8</h3>
        <!-- countプロパティを表示する -->
        <!-- <p>{{ count }}回クリックしたよ！</p> -->
        <!-- このボタンをクリックするとincrementメソッドが呼び出される -->
        <!-- <button v-on:click="increment">カウントを増やす</button> -->

        <!-- クラスとスタイルのデータバインディング -->
        <!-- <button v-on:click="isActive=!isActive">isActiveを切り替える</button>
        <p v-bind:class="{child: isChild, 'is-active': isActive}" class="item">動的なクラス</p>
        <p v-bind:style="{color: textColor, backgroundColor: bgColor}">動的なスタイル</p> -->

        <!-- SVGのデータバインディング -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
        </svg>
        <input type="range" min="0" max="100" v-model="radius">
        
      </div>
    </div>
  </div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>